.card {
  @include flex(space-between, center);
  flex-direction: column;
  max-width: 32rem;
  padding: 0 2rem;
  height: 24rem;
  text-align: center;
  transition: 1s;
  &:hover {
   border: 1px solid $color-primary;
   border-radius: 3rem;
  }
  &__title {
    @include font('Inter', 2rem, 400,);
    color: white;
    padding-top: 2.3rem;
  }
  &__text {
    @include font('Inter', 1.8rem, 300,);
    line-height: 3.5rem;
    margin-top: -0.3rem;
  }
  &__image {
    max-width: 6rem;
  }
}