.contact-me {
    margin-top: 10rem;
    height: 70rem;
    display: flex;
    justify-content: end;
    padding-top: 4rem;
    
    background-image: url(/assets/images/contact.jpeg);
    &__wrapper {
      @include flex(normal, flex-start);
      flex-direction: column;
    }
}

