.contact-me {
    height: 70rem;
    display: flex;
    justify-content: end;
    
    background-image: url(/assets/images/contact.jpeg);
    &__wrapper {
      @include flex(center, noramal);
      flex-direction: column;
    }
}

