.contact-me-form {
    @include flex (normal, space-between);
    flex-direction: column;

    .input-box {
        position: relative;
        width: 45rem;
        height: 5rem;

        &__mail{
            width: 45rem;
            height: 5rem;
            background-color: rgba(0, 0, 0, 0.26);
            border: none;
            border: 2px solid $color-primary;
            @include font('Inter', 2rem, 400);
         }

         &__phone {
            width: 45rem;
            height: 5rem;
            background-color: rgba(0, 0, 0, 0.26);
            border: none;
            border: 2px solid $color-primary;
            @include font('Inter', 2rem, 400);
         }

         &__message {
            width: 45rem;
            height: 10rem;
            background-color: rgba(0, 0, 0, 0.26);
            border: none;
            border: 2px solid $color-primary;
            @include font('Inter', 2rem, 400);
         }

         
    
    }
  
    
   
    
}
