.portfolio {
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include flex(normal, center);
    margin-top: 8.3rem;
    }
  &__buttons {
    margin-top: 4.4rem;
    @include flex(center, normal);
    column-gap:0.5rem;
    flex-wrap: wrap;
  @include media-tablet  {
    max-width: 60.5rem;
    @include flex(center, center);
   }
   @include media-mobile {
    max-width: 39rem;
   } 
  }
  &__layot {
   margin-top: 6rem;
  }
  &-layout {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    &__image {
        max-width: 45rem;

        @include media-mobile {
          max-width: 30rem;
        }
    }
  }
}