.portfolio {
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include flex(normal, center);
    margin-top: 8.3rem;
    }
  &__buttons {
    margin-top: 4.4rem;
    @include flex(space-between, normal);
    column-gap:0.5rem;

  @include media-tablet  {
    max-width: 60.5rem;
    flex-wrap: wrap;
    @include flex(center, center);
   }
  }

  &__layot {
   margin-top: 6rem;
  }
}
  .portfolio-layout {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    &__image {
        max-width: 45rem;
    }
}


// @include tablet{ 
//   .portfolio {
//     &__wrapper {

//       }
//     &__buttons {
//       flex-wrap: wrap;
//       @include flex(center, normal);
//     }
  
//     &__layot {

//     }
//   }
//     .portfolio-layout {





//       &__image {

//       }
//   }
// }