.price {
  &__wrapper {
    @include flex(center, center);
    flex-direction: column;
    margin-top: 9rem;
    row-gap: 4rem;
  }
  &-layout {
    @include flex(center, normal);
    flex-wrap: wrap;
    column-gap: 2.5rem;
  }
}