.skills {
  @include flex(center, center);
    .layout-4-columns {
      flex-wrap: wrap;
      column-gap: 4rem;
      row-gap: 6rem;
      flex-wrap: wrap;
      @include flex(space-between, normal);
      @include media-tablet  {
        @include flex(center, normal);
        row-gap: 2rem;
        column-gap: 0rem;
      }
    }
  &__wrapper {
    margin-top: 4.2rem;
    @include flex(center, center);
    flex-direction: column;
    row-gap: 4.5rem;
    @include media-tablet  { 
    margin-top: 3rem;   
    }
  }
}