.header {
  background-image: url(/assets/images/bg.jpg); 
  background-position: center;
  height: 91rem;
  &__wrapper {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 17rem;
  }
}