.header {
  background-image: url(/portfolio/assets/f/bg.jpg); 
  background-position: center;
  background-size: cover;
  height: 91rem;
  @include media-tablet {
    max-height: 54rem;
    position: relative;
    background-position: center;
   }

  &__subwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;
  }
  &__logo {
    @include media-tablet {
      margin-left: -0.5rem;
      margin-top: -0.3rem;
    }
  }
  &__wrapper {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 17rem;
    @include media-tablet {
      row-gap: 8rem;
    }
  }
}