.header {
  // background-image: url(/portfolio/assets/bg/bg.jpg); 
  background-image: url(/assets/bg/bg.jpg); 
  background-position: center;
  background-size: cover;
  height: 91rem;
  
  @include media-tablet {
    max-height: 54rem;
    position: relative;
    background-position: center;


    &.open .menu__list {
      transform: translateX(-100%);
      visibility: visible;
      width: 35rem;
      @include flex(center, space-between);
      flex-direction: column;
      background-color: black;


    }



  &.open .header__burger-btn span:nth-child(3) {
    opacity: 0;
    transform: translateX(-100%);
     display: none;
  }




  
   }

  &__subwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;


    @include media-tablet  {
    }
  }
  &__logo {
    @include media-tablet {
      margin-left: -0.5rem;
      margin-top: -0.3rem;
    }
  }
  &__wrapper {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 17rem;
    @include media-tablet {
      row-gap: 8rem;
    }
  }
}