.menu {
    @include flex(space-between, normal);    
    &__list {
      @include flex(center, noramal);
      column-gap: 3.1rem;
      @include media-tablet  {
        display: none;
      }
    }
    &__link {
      color: white;
      @include font("Inter", 2rem, 400);
      transition: 1s;
      &:hover {
        color: $color-primary; 
      }
    }

    .subitem {
      padding-left: 0rem;
      @include flex(normal, normal);
      column-gap: 1rem;
      & li {
        @include font("Inter", 2rem, 600)
      }
      & li:nth-child(1) {
        color: $color-primary;
      } 
      & li:nth-child(2) {
        color: $color-primary;
      } 
      & li:nth-child(3) {
        color: $color-primary;
      } 
    }
}