.photographer-name {  
    
  &__text {
    @include font('Inter', 2rem, 400,); 
    max-width: 47rem;
    line-height: 4rem;
    margin-top: -0.6rem;

  }
  
  &__wrapper {
    @include flex(normal, normal);
    margin-left: 6rem;
  }
}