button {
  @include flex(center, center);
  background-color: $color-primary;
}

.main-button {
  @include width-height(22rem, 5.5rem);
  @include font('Inter', 2rem, 400);
  transition: 1s;

  &:hover {
    background-color: rgb(30, 30, 30);
    color: white;
  }
}

.portfolio-button {
  @include width-height(22rem, 5.5rem);
  background-color: black;
  border: 2px solid $color-primary;
  color: $color-primary;
  @include font('Inter', 2rem, 300);
  transition: 1s;

  &:hover {
    background-color:$color-primary;
    color: black;
  }
}

.price-button {
  @include width-height(22rem, 5.5rem); 
  @include font('Inter', 2rem, 400);
}



