html {
  font-size: 10px;
}

body {
  background-color: rgb(0, 0, 0);
  @include flex(center, normal);
  overflow-x: hidden;
}

.body__wrapper {
  @include flex(center, normal);
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  max-width: 144rem;
  padding: 0 2rem;



  @include media-tablet  {
    max-width: 76rem;
    padding: 0 6rem;
  }

  @include media-mobile {
    max-width: 56rem;
    padding: 0rem 2rem;
  }
}

p {
  color: white;
}